@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 1920px;
  height: 1080px;
  background-color: white;
}

h1, h2 {
  letter-spacing: -0.5px;
}
